# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=sspn@3853
DB_NAME=kotakneo_trading
DB_PORT=3306

# Server Configuration
SERVER_PORT=5000
NODE_ENV=development

# Kotak Neo Configuration
KOTAK_API_SECRET=3581f5bb-1784-4913-8144-feb68e2343ea
KOTAK_UCC=XVH7N
KOTAK_MOBILE=+919805355521
KOTAK_UCC=XVH7N
KOTAK_MPIN=385334
CLIENT_NAME=Shiv Shankar Prasad
KOTAK_BASE_URL=https://api.kotakneosecurities.com

KOTAK_WS_URL=wss://mlhsm.kotaksecurities.com

# TradingView Webhook Secret
TRADINGVIEW_WEBHOOK_SECRET=mysecret
# Order Configuration
DUPLICATE_ORDER_INTERVAL=45000  # 45 seconds in milliseconds
SQUAREOFF_CHECK_INTERVAL=10000  # 10 seconds



